@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:root{
    --primary-color:#F0F8FB;
    --secondary-color:#ffff;
    --accent-color:#E41A0E;
    --btn-txt-color:#ffff;
}

body{
    margin: 0;
    line-height: normal;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
}

div{
    box-sizing: border-box;
}

button{
    font-family: Roboto;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20)
}

ul,li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

iframe{
    height: 28vw;
    width: 100%;
}

.active{
    background-color: tomato;
    color: white;
    margin: 10px;
    padding: 10px;
}

.active-btn{
    background-color: #23538F !important;
    color: white;
}

.container{
    width: 76%;
    margin: auto;
    /* background-color: #d82e2e; */
    max-width: 1030px;
}

@media screen and (max-width: 700px) {
    .container{
        width: 96%;
    }
  }
